<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "Http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>
    <!--<settings>-->
        <!--<setting name="cacheEnable" value="true"/>-->
        <!--<setting name="useGenerateKeys" value="true" />-->
        <!--<setting name="defaultExecutorType" value="REUSE"/>-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--<setting name="defaultStatementTimeOur" value="25000"/>-->
    <!--</settings>-->
    <typeAliases>

    </typeAliases>

    <typeHandlers>
        <typeHandler handler="cn.acseed.zeus.dao.mybatis.typehandler.ValuedEnumHandler" javaType="cn.acseed.zeus.common.domain.UserType"/>
        <typeHandler handler="cn.acseed.zeus.dao.mybatis.typehandler.ValuedEnumHandler" javaType="cn.acseed.zeus.common.domain.PostType"/>
        <typeHandler handler="cn.acseed.zeus.dao.mybatis.typehandler.ValuedEnumHandler" javaType="cn.acseed.zeus.common.domain.DigestType"/>
    </typeHandlers>
</configuration>